.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        flex-direction: column;
        width: 100%;
    }
}