.add-content {
    min-width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    background-image: url("./../../../images/plus-content.svg");
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    transition: opacity 0.2s;
    cursor: pointer;
}

.add-content:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .add-content {
        width: 100%;
    }
}